<div class="main-wrapper ">
<!-- Slider Start -->
<section class="slider">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-md-10">
				<div class="block">
					<h1 class="animated fadeInUp mb-5">Online Clinic <br>Website Khám Bệnh Toàn Diện <br></h1>
					<a href='/videoCall/' target="_blank" class="btn btn-main animated fadeInUp btn-round-full" >Join Now<i class="btn-icon fa fa-angle-right ml-2"></i></a>
				</div>
			</div>
		</div>
		
	</div>
</section>

<!-- Section Intro Start -->
<section class="section intro">
	<div class="container">
		<div class="row ">
			<div class="col-lg-8">
				<h2 class="mt-3 content-title text-color">Chọn Chuyên Khoa Mà Bạn Muốn</h2>
				<form method='GET' action="/search">
					<div class='form-group'>
						<select name='Department' class='form-control' id='Khoa-input'>
							<option value='Xương Khớp'>Xương Khớp</option>
							<option value='Tiêu Hoá'>Tiêu Hoá</option>
							<option value='Da Liễu'>Da Liễu</option>
							<option value='Thần Kinh'>Thần Kinh</option>
							<option value='Nhi Khoa'>Nhi Khoa</option>
							<option value='Nha Khoa'> Nha Khoa </option>
							<option value='Nội Tiết'>Nội Tiết</option>
							<option value='Tai Mũi Họng'>Tai Mũi Họng</option>
							<option value='Tư Vấn Covid'>Tư Vấn Covid</option>
						</select>
					</div>
					<button type='submit' class='btn btn-primary'>Tìm Kiếm</button>
				</form>
			</div>
		</div>
	</div>
	<div class="covidVietNam">
  <div class="animatediv">
  <img src="https://image.lag.vn/upload/news/21/08/16/236599595_1425452954506376_3110056547255537769_n_WOLP.jpg">
  <img src="https://image.lag.vn/upload/news/21/08/16/236599595_1425452954506376_3110056547255537769_n_WOLP.jpg">
  <img src="https://atheistiran.com/wp-content/uploads/2020/03/corona-virus.png">
  <img src="https://atheistiran.com/wp-content/uploads/2020/03/corona-virus.png">
</div>
<div class="container text-center">
  <h1 class="">Covid-19 Cases In <span id="country"></span> <img src="" alt="" id="flag"></h1>
  <div class="card-deck text-center">
    <div class="card mb-2">
      <div class="card-body bg-primary text-light rounded">
        <h5 class="card-title"><i class="fas fa-tachometer-alt fa-2x"></i></h5>
        <h4 class="card-text">Active Cases</h4>
        <p class="card-text badge badge-outline-light" id="Active_Cases">21</p>
      </div>
    </div>
    <div class="card mb-2">
      <div class="card-body bg-info text-light rounded">
        <h5 class="card-title"><i class="fas fa-list fa-2x"></i></h5>
        <h4 class="card-text">Total Cases</h4>
        <p class="card-text badge badge-outline-light" id="Total_Cases">21</p>
      </div>
    </div>
    <div class="card mb-2">
      <div class="card-body bg-warning text-light rounded">
        <h5 class="card-title"><i class="fas fa-times-circle fa-2x"></i></h5>
        <h4 class="card-text">Critical Cases</h4>
        <p class="card-text badge badge-outline-light" id="Critical_Cases">21</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body bg-danger text-light rounded">
        <h5 class="card-title"><i class="fa fa-times fa-2x"></i></h5>
        <h4 class="card-text">Total Death</h4>
        <p class="card-text badge badge-outline-light" id="Total_Death">21</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body bg-success text-light rounded">
        <h5 class="card-title"><i class="fas fa-check-square fa-2x"></i></h5>
        <h4 class="card-text">Recovered Cases</h4>
        <p class="card-text badge badge-outline-light" id="Recovered_Cases">21</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body bg-secondary text-light rounded">
        <h5 class="card-title"><i class="fas fa-eye fa-2x"></i></h5>
        <h4 class="card-text">Total Test Done</h4>
        <p class="card-text badge badge-outline-light" id="Total_Test_Done">21</p>
      </div>
    </div>
  </div>
</div>
</div>
<script>
  fetch("https://corona.lmao.ninja/v2/countries/vietnam")
  .then((response) => {
    return response.json();
  })
  .then((data) => {
    console.log(data);
    document.getElementById("flag").src = data.countryInfo.flag;
    document.getElementById("country").innerHTML = data.country;
    document.getElementById("Active_Cases").innerHTML = data.active;
    document.getElementById("Total_Cases").innerHTML = data.cases;
    document.getElementById("Critical_Cases").innerHTML = data.critical;
    document.getElementById("Total_Death").innerHTML = data.deaths;
    document.getElementById("Recovered_Cases").innerHTML = data.recovered;
    document.getElementById("Total_Test_Done").innerHTML = data.tests;
  });

</script>
