   <div class="custom-modal" id='recording-options-modal'>
        <div class="custom-modal-content">
                    <span class="record-option" id='record-video'>Record video</span>
              
                    <span class="record-option" id='record-screen'>Record screen</span>
           
                    <button class="btn btn-outline-danger" id='closeModal'>Close</button>

        </div>
    </div>
    