<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet"
    type="text/css" />
  <script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"></script>
</head>

<body>
  <div class='mt-4 container'>
    <div class='container h1 mt-3'>
      <h1>Tạo Blog</h1>
    </div>
    <form onSubmit="return confirm('Bạn muốn đăng blog ?')" method="POST" action="/blog/store">
      <div class='form-group'>
        <label for='name'>Tiêu Đề</label>
        <input type='text' class='form-control' id='title' name='title' />
      </div>
      <div class='form-group'>
        <label for='name'>Đường Dẫn Hình Ảnh</label>
        <input type='text' class='form-control' id='ImageURL' name='ImageURL' />
      </div>
      <div class='form-group'>
        <label for='name'>Mô Tả</label>
        <textarea rows="3" type='text' class='form-control' id='description' name='description'></textarea>
      </div>
      <div class='form-group'>
        <label for='name'>Nội Dung</label>
        <textarea id="example" name='content'></textarea>
      </div>
      <div class="mt-4">
        <button type='submit' class='btn btn-success mr-3'>Tạo Blog</button>
      </div>
    </form>
  </div>
  <script>
    var editor = new FroalaEditor("#example", {
      fileUploadToS3: {
        bucket: 'oclinic',
        region: 'ap-southeast-1',
        keyStart: 'ooclinic/',
        params: {
          acl: 'public-read-write', // ACL according to Amazon Documentation.
          AWSAccessKeyId: 'AKIA4VNGP5AL72EU2ICD', // Access Key from Amazon.
          signature: '', // Signature computed in the backend.
        }
      }
    })
  </script>
</body>

</html>