<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/airbnb.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<link rel="stylesheet" href="/css/app.css">
<div class='mt-4 container'>

{{!-- <H3>Lịch Làm Việc</H3>
<div>
   <table class="table">
      <thead>
        <tr>
          <th scope="col" colspan="">STT</th>
          <th scope="col">Ngày</th>
          <th scope="col">Thời Gian </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.date}}</td>
          <td>{{this.time}}</td>
        </tr>
    </tbody>
   </table>  
</div> --}}
<H3>Đăng Ký Lịch Làm</H3>
<form method="POST" action="/addschedule/add">
<div class="form-date-time-swap">
  <div class='form-group'>
      <div>
        <input type="hidden" name="doctorId" class="form-control"  value="{{lcAuthUser.Id}}">
      </div>
  <div class="form-date-time">
    <label for='name' style="color:black;font-weight:400;">Chọn ngày 1</label>
      <div>
          <input type="datepicker" name="date" class="form-control" readonly placeholder="Chọn ngày"  />
      </div>
    </div>
    <div class='form-group'>
      <label for='name' style="color:black;font-weight:400;">Ca Sáng</label>
      <div class="custom-control custom-checkbox custom-control-inline">
        <input type="checkbox" class="custom-control-input" id="defaultInline1" name="time1" value="true">
        <label class="custom-control-label" for="defaultInline1">7:00-8:00</label>
      </div>
      <div class="custom-control custom-checkbox custom-control-inline">
        <input type="checkbox" class="custom-control-input" id="defaultInline2"name="time2" value="true">
        <label class="custom-control-label" for="defaultInline2">8:00-9:00</label>
      </div>
      <div class="custom-control custom-checkbox custom-control-inline">
        <input type="checkbox" class="custom-control-input" id="defaultInline3"name="time3" value="true">
        <label class="custom-control-label" for="defaultInline3">9:00-10:00</label>
      </div>
      <div class="custom-control custom-checkbox custom-control-inline">
        <input type="checkbox" class="custom-control-input" id="defaultInline4"name="time4" value="true">
        <label class="custom-control-label" for="defaultInline4">10:00-11:00</label>
      </div>
    </div>
    <div class='form-group'>
      <label for='name' style="color:black;font-weight:400;">Ca Chiều</label>
      <div class="custom-control custom-checkbox custom-control-inline">
        <input type="checkbox" class="custom-control-input" id="defaultInline5" name="time5" value="true">
        <label class="custom-control-label" for="defaultInline5">13:00-14:00</label>
      </div>
      <div class="custom-control custom-checkbox custom-control-inline">
        <input type="checkbox" class="custom-control-input" id="defaultInline6"name="time6" value="true">
        <label class="custom-control-label" for="defaultInline6">14:00-15:00</label>
      </div>
      <div class="custom-control custom-checkbox custom-control-inline">
        <input type="checkbox" class="custom-control-input" id="defaultInline7"name="time7" value="true">
        <label class="custom-control-label" for="defaultInline7">15:00-16:00</label>
      </div>
      <div class="custom-control custom-checkbox custom-control-inline">
        <input type="checkbox" class="custom-control-input" id="defaultInline8"name="time8" value="true">
        <label class="custom-control-label" for="defaultInline8">16:00-17:00</label>
      </div>
    </div>
    <div class='form-group'>
      <label for='name' style="color:black;font-weight:400;">Ca Tối</label>
      <div class="custom-control custom-checkbox custom-control-inline">
        <input type="checkbox" class="custom-control-input" id="defaultInline9" name="time9" value="true">
        <label class="custom-control-label" for="defaultInline9">18:00-19:00</label>
      </div>
      <div class="custom-control custom-checkbox custom-control-inline">
        <input type="checkbox" class="custom-control-input" id="defaultInline10"name="time10" value="true">
        <label class="custom-control-label" for="defaultInline10">19:00-20:00</label>
      </div>
      <div class="custom-control custom-checkbox custom-control-inline">
        <input type="checkbox" class="custom-control-input" id="defaultInline11"name="time11" value="true">
        <label class="custom-control-label" for="defaultInline11">20:00-21:00</label>
      </div>
      <div class="custom-control custom-checkbox custom-control-inline">
        <input type="checkbox" class="custom-control-input" id="defaultInline12"name="time12" value="true">
        <label class="custom-control-label" for="defaultInline12">21:00-22:00</label>
      </div>
    </div>
  </div>
  <button type='submit' class='btn-submit addschedule'>Đăng Ký</button> 
</form>
</div>
<script>
flatpickr("input[type=datepicker]", {
  minDate: "today",
  dateFormat: "l d m Y",
  maxDate: new Date().fp_incr(6)
});
</script>
{{!-- <script>
flatpickr("input[type=timepicker]", {
  enableTime: true,
  noCalendar: true,
  dateFormat: "H:i",
  time_24hr: true

});
</script> --}}
